<div class="max-w-xl mx-auto">
  <!-- Search Input -->
  <input
    type="text"
    [formControl]="searchControl"
    placeholder="Buscar localidad..."
    class="border border-gray-300 focus:border-green-600 focus:ring focus:ring-green-200 focus:outline-none p-3 rounded w-full text-sm"
  />

  <!-- Search Results -->
  <ul
    *ngIf="(filteredCities$ | async)?.length"
    class="mt-2 border border-gray-300 rounded shadow bg-white max-h-64 overflow-auto"
  >
    <li
      *ngFor="let city of filteredCities$ | async"
      class="px-4 py-2 hover:bg-green-100 cursor-pointer text-sm"
      (click)="searchControl.setValue(city.Name)"
    >
      <strong>{{ city.Name }}</strong>, {{ city.Province }}
    </li>
  </ul>
</div>

